<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-2glab-plugin-contacts" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <dependency id="cordova-plugin-add-swift-support" version="1.7.0"/>

    <name>com-2glab-plugin-contacts</name>
    <description>Cordova Contacts Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,contacts,swift</keywords>
    <repo>https://github.com/2glab/com-2glab-plugin-contacts.git</repo>
    <issue>https://github.com/2glab/com-2glab-plugin-contacts/issues</issue>

    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="PhonebookContacts">
          <param name="ios-package" value="PhonebookContacts" />
        </feature>
      </config-file>
      <source-file src="src/ios/PhonebookContacts.swift" />

      <preference name="CONTACTS_USAGE_DESCRIPTION" default=" " />
      <config-file target="*-Info.plist" parent="NSContactsUsageDescription">
          <string>$CONTACTS_USAGE_DESCRIPTION</string>
      </config-file>
    </platform>

    <js-module name="PhonebookContacts" src="www/PhonebookContacts.js">
        <clobbers target="navigator.phonebookContacts" />
    </js-module>
</plugin>
